
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <%- include('../partials/header.ejs') %>

    <link rel="stylesheet" type="text/css" href="/css/dropzone/dropzone.css" />
    <script type="text/javascript" src="/js/dropzone/dropzone.js"></script>

    <script>
        $(document).ready(function () {


            console.log('projects ejs - document is loaded');
            highLightNavBar('navBarAuthenticate');
            //$("a[name='navBarAuthenticate']").addClass("highlight-underline");

            Dropzone.autoDiscover = false;
            $("#dropZoneId").dropzone( {
                paramName: "file",
                maxFiles: 1,
                url: "/authenticate/file",
                uploadMultiple: false,
            });
        
        });
    </script>
    
    <title> Authenticate </title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <br><br>
    <h3>Please drop your authentication file</h3>

    <form method="post" 
        class="dropzone"
        id="dropZoneId">
    </form>

</body>

</html>