<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <%- include('../partials/header.ejs') %>

    <link rel="stylesheet" type="text/css" href="/css/dropzone/dropzone.css" />
    <script type="text/javascript" src="/js/dropzone/dropzone.js"></script>

    <script>
        $(document).ready(function () {

            $("#authenticationDone").hide();
            $("#userName").hide();

            console.log('projects ejs - document is loaded');
            highLightNavBar('navBarAuthenticate');
            //$("a[name='navBarAuthenticate']").addClass("highlight-underline");

            Dropzone.autoDiscover = false;
            $("#dropZoneId").dropzone({
                paramName: "file",
                maxFiles: 1,
                url: "/authenticate/file",
                uploadMultiple: false,
                error: function (file, errorMessage) {
                    alert(errorMessage);
                },
                success: function (file, response) {
                    console.log(JSON.stringify(response));
                    $("#dropZoneId").hide();
                    $("#pleaseDrop").hide();
                    $("#authenticationDone").show();
                    $("#userName").show();
                    $("#userName").html("user name: " + response.userName);
                }
            });

        });
    </script>

    <title> Authenticate </title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <br><br><br><br>
    <h3 id="pleaseDrop">Please drop your authentication file</h3>
    <h3 id="authenticationDone">Authentication Done</h3>
    <span id="userName"> user name = </span>
    <form method="post" class="dropzone" id="dropZoneId">
    </form>

</body>

</html>