
<div class="progressBarSection">

    <table class="tab">
      <tr>
  
        <td width="60%">
          <div>
            <button name="Formation" class="tablinks" onclick="openTab(event, 'Formation')" id="defaultOpen">Formation</button>
  
            <button name="Portraits" class="tablinks" onclick="openTab(event, 'Portraits')">Portraits</button>
            <button name="Paysages" class="tablinks" onclick="openTab(event, 'Paysages')">Paysages</button>
            <button name="Corps" class="tablinks" onclick="openTab(event, 'Corps')">Corps</button>
            <button name="Divers" class="tablinks" onclick="openTab(event, 'Divers')">Divers</button>
          </div>
        </td>
  
      </tr>
  
    </table>
  
  
  </div>