
<div class="navBarDiv">

  <ul class="navUl">

    <li class="navLi">
      <!-- href="/" -->
      <a name="navBarIndex" href="/" class="navA" onclick="navBarClicked(this)"> <span ></span>Home</a>
    </li>

    <li class="navLi">
      <a name="navBarAuthenticate" href="/authenticate" class="navA" onclick="navBarClicked(this)"> <span></span>Authenticate</a>
    </li>

    <li class="navLi">
      <a name="navBarTools" href="/db/tools" class="navA" onclick="navBarClicked(this)"> <span></span>Select a Tool</a>
    </li>

    <li class="navLi">
      <a name="navBarProjects" href="/db/projects" class="navA" onclick="navBarClicked(this)"> <span ></span>Select a Project</a>
    </li>

  </ul>

  <!-- <div id="progressBarId" class="progressBarDiv"> -->
  <progress id="workerId" class="progressBar" max="100" value="0">
    <span id="workerVal">0</span>%</progress>
  <!-- </div> -->

</div>