<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <%- include('partials/header.ejs') %>

    <title> <%= title %> </title>
</head>

<body>
    <%- include('partials/nav.ejs') %>
    <br><br><br>
    <h3>Hello - Main page</h3>

    <%= contents %>
</body>

</html>