<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
</head>

<body>
    <h3>Database Projects page</h3>
    <div>
        <table border="1px">
            <tr>
                <th>
                    Identifier
                </th>
                <th>
                    Project Name
                </th>
            </tr>

            <% rows.forEach( row => { %>
                
                <tr>
                    <td><%= row.Id %></td>
                    <td><%= row.Name %></td>
                </tr>
                
            <% }) %>

        </table>
        
    </div>
    
</body>

</html>