<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <link href="/css/site.css" rel="stylesheet" type="text/css" media="screen">   
    <title> <%= title %> </title>
</head>

<body>
    <h3>Database Tools page</h3>
    <div>
        <table >
            <tr>
                <th>
                    Identifier
                </th>
                <th>
                    Tool Name
                </th>
            </tr>

            <% rows.forEach( row => { %>
                
                <tr>
                    <td><%= row.Id %></td>
                    <td><%= row.Name %></td>
                </tr>
                
            <% }) %>

        </table>
        
    </div>
    
</body>